/* --Header-- */
.navbar{
    margin-bottom: 0;
}

.jumbotron{
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #fff;
    padding: 20px 0;
}

/* img{
    width: 300px;
    height: 300px;
} */

/* Post */
.main{
    margin-top: 20px;
    margin-bottom: 20px;
}

.post{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}

.post .post-title a{
    color: #333;
}

.post .thumb{
margin-right: 10px;
width: 40%;;
}

.post .thumb img{
    width: 100%;
}

.post .contenedor-botones{
    width: 100%;
}

